<h3>Angular State Example using Redux</h3>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <div>
          Parent Angular Component
        </div>
        <p>
          The counter value is:
          <b>{{ counter }}</b>
        </p>
        <p>
          <button (click)="increment()"
                  class="btn btn-primary">
            Increment
          </button>
          <button (click)="decrement()"
                  class="btn btn-default">
             Decrement
          </button>
        </p>
        <app-child></app-child>
      </div>
    </div>
  </div>
</div>

